.form_wrapper {
    box-sizing: border-box;
    width: 40%;

    margin: 30px auto;
    padding: 10px;

    background-color: #4f4f4f;
    border-radius: 6px;
}

.form_wrapper .control_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    margin: 20px 0;
}

.control_box .input {
    width: 48%;
    margin: 2px;
    padding: 10px 20px;
    font-size: 10px;
    border: none;
    outline: none;
    transition: all 300ms;
}

.control_box .add-btn{
    width: 48%;
    margin: 2px;
    border: none;
    outline: none;
    font-size: 10px;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #08aeac;
    transition: all 300ms;
    cursor: pointer;
}

.control_box .add-btn:disabled {
   opacity: 0.5;
}

.tag-container {
    display: flex;
    flex-direction: column;
    min-height: 150px;

    border-radius: 3px;
    background: #b1b1b1;

    padding: 6px;
}
.tag-container .tag {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 5px;
    margin: 2px 0;

    font-size: 16px;
    height: 30px;
    border: 4px #ccc;
    border-radius: 6px;
    background: #4c4a4a;
    color: #ffffff;
    cursor: default;
}

.tag {
    display: flex;
    font-size: 16px;
    color: #666;

    margin-left: 5px;
}

.tagNameBox {
    display: flex;
    justify-content: center;
    width: 95%;
}

.closeIconBox {
    display: flex;
    justify-content: flex-end;
    width: 5%;
}

.closeIconBox .close-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: all 300ms
}

.closeIconBox .close-icon:hover {
    transform: rotate(90deg);
}




